<h1>Hello <%= @current_user.name %>!</h1>
<h2>List of Books You've Reviewed:</h2>
<div>
  <% @current_user.ratings.each do |rating| %>
    <div class="box">
      <p><%= link_to "#{rating.book.title}", book_path(rating.book) %></p>
      <h3>Your Rating: </h3>
      <p><%= show_stars(rating.stars) %></p>
      <h3>Your Review:</h3>
      <p> <%= rating.notes %></p>
    </div>
  <% end %>
</div>
<div>
  <%= link_to "View Books Added by All Users", books_path %>
</div>
<div>
  <%= link_to "Add a New Book", new_book_path %>
</div>
<div>
  <%= link_to "Add a New Rating", new_rating_path %>
</div>
<div>
  <%= button_to 'Sign Out', signout_path, class: "big_button" %>
</div>